name: Build Plugin

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4 # v4'e güncellendi
    
    - name: Set up JDK 8
      uses: actions/setup-java@v4 # v4'e güncellendi
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Upload Artifact
      uses: actions/upload-artifact@v4 # BURASI KRİTİK: v4 yaptık
      with:
        name: GhostBlockFixer-Jar
        path: target/*.jar
